menu "Device Configuration"
    config PRODUCT_KEY
        string
        prompt "Product Key"

    config DEVICE_NAME
        string
        prompt "Device Name"

    config DEVICE_SECRET
        string
        prompt "Device Secret"
    endmenu

menu "Version"
    config FIRMWARE_VERSION
        string 
        prompt "Firmware Version"
    endmenu

menu "AliCloud URL"
    config ALICLOUD_URL
        string 
        prompt "Alicould IoT instance Url"
    endmenu


